<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EcmMzfOrderStatusMapper" >
  
  <select id="queryorderstatus"  resultType="java.util.Map">
   	 select order_sn as orderSn, status_desc as statusDesc  from ecm_mzf_order_status where order_sn in 
   	  <foreach item="id" index="index" collection="orderSns" open="(" separator="," close=")">  
			  #{id}  
	  </foreach>
  </select>

	<insert id="createOrderStatus" parameterType="EcmMzfOrderStatus" >
		INSERT INTO ecm_mzf_order_status (order_sn,status,share_status,score_status,bill_status,cash_status,add_time,pay_time,verify_status,verify_name,verify_time,created_date,status_desc)
		values
		(#{orderSn},#{status},#{shareStatus},#{scoreStatus},#{billStatus},#{cashStatus},#{addTime},#{payTime},#{verifyStatus},#{verifyName},#{verifyTime},#{createdDate},#{statusDesc})
	</insert>
	
	<update id="updateShareStatus" parameterType="String">
		UPDATE ecm_mzf_order_status os SET os.`share_status`=1 WHERE os.`order_sn`=#{orderSn} and os.`share_status`=0
	</update>
	
		
	<update id="updateScoreStatus" parameterType="String">
		UPDATE ecm_mzf_order_status os SET os.`score_status`=1 WHERE os.`order_sn`=#{orderSn} and os.`score_status`=0
	</update>
	
	<!-- <update id="updateShareAndScoreStatus" parameterType="String">
		UPDATE ecm_mzf_order_status os SET os.`share_status`=1,os.`score_status`=1 WHERE os.`order_sn`=#{orderSn}
	</update> -->
	
	<update id="updateBillStatus" parameterType="EcmMzfOrderStatus">
		UPDATE ecm_mzf_order_status os SET os.`bill_status`=#{billStatus},os.status_desc=#{statusDesc} WHERE os.`order_sn`=#{orderSn}
	</update>
	

	<update id="updateCashStatus" parameterType="String">
		UPDATE ecm_mzf_order_status os SET os.`cash_status`=1 WHERE os.`order_sn`=#{orderSn} and os.`cash_status`=0
	</update>
	
	<update id="batchUpdateCashStatus" >
		UPDATE ecm_mzf_order_status os SET os.`cash_status`=1 WHERE os.`cash_status`=0 and os.`order_sn` in 
		<foreach item="orderSn" index="index" collection="orderSns" open="(" separator="," close=")">  
			#{orderSn}  
		</foreach>
	</update>
	
	
	<!-- 同步订单审核状态接口  -->
	<update id="syncverifystatus" parameterType="EcmMzfOrderStatus">
		UPDATE ecm_mzf_order_status os SET 
		       os.`bill_status` = #{billStatus},
		       os.`verify_status` = #{verifyStatus}, 
		       os.`verify_name` = #{verifyName},
		       os.`verify_time` = #{verifyTime},
		       os.`status_desc` = #{statusDesc}
		       WHERE os.`order_sn` = #{orderSn};
	</update>

	
</mapper>